node_modules

/cache
/artifacts
/typechain
/typechain-types
/coverage
/coverage.json

.env

Scripts/MarketPrices/MarketPricesPyth.json
Scripts/MarketPrices/MarketPricesCoinMarketCap.json
Scripts/MarketPrices/MarketPricesCoinGecko.json
Scripts/FeeData/FeeData.json

errors.json
profits.json
